@page "/"

<h1>Welcome to the Tetris Game</h1>
<div class="space">
<a href="/tetris/settings" class="myButton2">Tetris Settings</a>
<a href="/tetris"   class="myButton">Play</a>


<a href="/tetris/credits" class="myButton3">Tetris Credits</a></div>