 @page "/tetris"
@using BlazorApp.Data;
<h1>TETRIS</h1>


<a href=""></a>

 <a href="/tetris/settings" class="a">SETTINGS</a>
<a href="/tetris" @onclick="play"  class="">PAUSE</a>


<a href="/" class="a">LEAVE</a> 


    <div class="col">
        <div class="tetris-container" tabindex="0" >

                @* @for (int a = tetromino.HeightTetrominoO; a >= 1; a--)
            {
                <div class="tetris-row">
                    
                    @for (int b = 1; b <= tetromino.WidthTetrominoO; b++)
                     
                    {

                   
                        O++;
                   
                   
                        <div id=@l class="Tetromino-O">1</div> 
                        @* <div id=@l class="tetris-cell tetris-piece tetris-orange-cell"></div> 
                    }
                  
                </div>
            } *@
            
            @for (int i = grid.Height; i >= 1; i--)
            {
                <div class="tetris-row">
                    
                    @for (int j = 1; j <= grid.Width; j++)
                     
                    {



                   
                        l++;
                   
                   
                        
                        

                        
                        @if(l == 5 || l == 6 ||l==15 ||l==16){

                         <div class="Tetromino-O"></div> 
                         
                        }else{
                            <div id=@l class="tetris-cell "></div> 

                        }
                    }
                  
                </div>
            }


        </div>
    </div>
    <h3>Settings</h3>

 
<input @bind="Width"/>
<input @bind="Height"/>  
<p>Current settings:@Width, @Height (10 by 20 default)</p>

<button  @onclick="GetValue">Change </button>
@code {

    Tetromino tetromino = new Tetromino();
    
    int O;

    private int HeightTetrominoO {get; set; }

    private int WidthTetrominoO {get; set; }

    private int NewHT {get; set; }

    private int NewWT {get; set; }

int l;


      Grid grid = new Grid();
      
       private int Height { get; set; }
    private int Width { get; set;}
    private int NewH { get; set; }
    private int NewW { get; set; }
 
   
    private void GetValue()

    {
        NewHT = Height;

        NewWT = Width;

        NewH = Height;
        NewW = Width;
       
        grid.Height=NewH;
        grid.Width=NewW;

        tetromino.HeightTetrominoO = NewHT;
        tetromino.WidthTetrominoO = NewWT;
    }
     void play() {
         
    
    }
} 
