 @page "/tetris"
@using BlazorApp.Data;
<h1>TetrisProject</h1>


<a href=""></a>

<a href="/tetris/settings" class="myButton2">Tetris Settings</a>
<a href="/tetris"   class="myButton">Play</a>


<a href="/tetris/credits" class="myButton3">Tetris Credits</a>


    <div class="col">
        <div class="tetris-container" tabindex="0"  >
            
            @for (int i = grid.Height; i >= 1; i--)
            {
                <div >
                    
                    @for (int j = 1; j <= grid.Width; j++)
                     
                    {
                   
                        l++;
                   
                   
                    <td id=@l class="tetris-cell ">0</td> 
                  @* <div id=@l class="tetris-cell tetris-piece tetris-orange-cell"></div>  *@
                    }
                  
                </div>
            }
        </div>
    </div>
    <h3>Settings</h3>

 
<input @bind="Width"/>
<input @bind="Height"/>  
<p>Current settings:@Width, @Height (10 by 20 default)</p>

<button  @onclick="GetValue">Change </button>
@code {
      Grid grid = new Grid();
      int l;
       private int Height { get; set; }
    private int Width { get; set;}
    private int NewH { get; set; }
    private int NewW { get; set; }
 
   
    private void GetValue()

    {

        NewH = Height;
        NewW = Width;
       
        grid.Height=NewH;
        grid.Width=NewW;
    }


      
    
    
} 
