@page "/tetris/settings"

@using BlazorApp.Data;

<h1>Tetris Settings</h1>
<p>The parameters of the grid is 10 by 20 by default</p>
<p>input here the new grid parameters if you want </p>


<h3>GetTextBox</h3>

<input @bind="Height"/>   
<input @bind="Width"/>

<p>Current count: @Height,@Width</p>

<button  @onclick="GetValuet">Click me</button>

@code
{

    
    private int Height { get; set; }
    private int Width { get; set;}
    private int NewH { get; set; }
    private int NewW { get; set; }
 
    public Grid Grille = new Grid();
    private void GetValuet()

    {

        NewH = Height;
        NewW = Width;
       
        Grille.Height=NewH;
        Grille.Width=NewW;
    }

}

                @* <label><b>Width</b></label>
                <input  type="text" placeholder="Width"  @bind-value="@grid[0]" required>

                <label><b>Height</b></label>
                <input  type="text" placeholder="Height"  @bind-value="@grid[1]" required>

                <input class="submit" type="submit" id='submit' action="/tetris" value="Modify">
               

@code {

        
    private int[] grid { get; set; }
      
    
}

 *@