@page "/tetris/credits"

<h1>Tetris Credits</h1>
<a href="https://tetris.com/play-tetris">Here the link of the original game</a>

<p>This is a student project from our C Sharp class </p>
<p>Technologies used in this project: Blazor,C# and .Net</p>
<p>Developped by Yasser,Enzo et Malo</p>


@code {
    
}
